<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <header><img src="/img/logo1.png" alt="Meadowlark Travel Logo" style="height: 100px;"  >
    </header>

    {{{body}}}

</body>
</html>